/* @import "/src/common/modern-reset.css"; */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.img-box-wrap {
  padding: 100px;
}

.img-group {
  /* background-color: pink; */
  display: flow-root;
  width: fit-content;
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.img-box {
  position: relative;
  float: left;

  &:not(:last-child) {
    margin-right: 1.25rem;
  }

  img {
    border-radius: 50%;
  }

  .status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #dbdbdb;
  }

  .status.login {
    background-color: #4cfe88;
  }
}
